.card {
  background-color: var(--color-primary-light);
  color: #fff;
}

.img-icon {
  position: relative;
}

.icon-title {
  color: #fff;
}

.btn-light {
  background-color: #fff;
  border-color: #fff;
  color: var(--color-primary-light);
}

.btn-light:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: var(--color-primary-light);
}

.icons-home {
  color: black;
}

.icons-home:hover {
  color: var(--color-primary-light) ;
}
