:root {
  --color-primary: #96c;
  --color-primary-light: #c9f;
  --color-secondary: #639;
  --color-accent: #303;

  --font-primary: "Merriweather", serif;
  --font-secondary: "Open Sans", sans-serif;
}

html {
  font-family: var(--font-secondary);
}

h1 {
  color: var(--color-primary);
  font-weight: bold;
  font-family: var(--font-primary);
}

h2 {
  color: var(--color-primary-light);
  font-family: var(--font-primary);
}

h3 {
  font-family: var(--font-primary);
}

h4 {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

h5 {
  color: var(--color-primary-light);
  font-style: italic;
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-accent);
  font-weight: bold;
}

cite {
  color: var(--color-secondary);
  font-style: italic;
}

q {
  color: var(--color-secondary);
  font-style: italic;
}

strong {
  color: var(--color-secondary);
}

ins {
  color: var(--color-secondary);
}

dfn {
  font-style: italic;
}

i {
  font-style: italic;
}

b {
  color: var(--color-secondary);
}

mark {
  background-color: var(--color-secondary);
  color: white;
}

u {
  color: var(--color-secondary);
}
